In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./RAP-MSU_2023-03-15.txt', sep = '\t', header = None)
c = 'RAP,MSU'
df.columns = c.split(',')

In [4]:
df.head()

            RAP                                MSU
0  Os01g0100100  LOC_Os01g01010.1,LOC_Os01g01010.2
1  Os01g0100200                   LOC_Os01g01019.1
2  Os01g0100300                               None
3  Os01g0100400                   LOC_Os01g01030.1
4  Os01g0100466                               None

In [5]:
df['MSU']

0        LOC_Os01g01010.1,LOC_Os01g01010.2
1                         LOC_Os01g01019.1
2                                     None
3                         LOC_Os01g01030.1
4                                     None
                       ...
68927                     LOC_Os12g43960.1
68928                     LOC_Os12g44120.1
68929                     LOC_Os12g44200.1
68930                     LOC_Os12g44260.1
68931                     LOC_Os12g44350.1
Name: MSU, Length: 68932, dtype: object

In [6]:
MSU1 = df['MSU'].str.split(',')
df['MSU1']=MSU1.str.get(0)
MSU2 = df['MSU1'].str.split('.')
df['MSU1']=MSU2.str.get(0)

In [7]:
df.head()

            RAP                                MSU            MSU1
0  Os01g0100100  LOC_Os01g01010.1,LOC_Os01g01010.2  LOC_Os01g01010
1  Os01g0100200                   LOC_Os01g01019.1  LOC_Os01g01019
2  Os01g0100300                               None            None
3  Os01g0100400                   LOC_Os01g01030.1  LOC_Os01g01030
4  Os01g0100466                               None            None

In [8]:
df.drop(columns= ['MSU'], inplace = True)

In [9]:
df.haed()

AttributeError: 'DataFrame' object has no attribute 'haed'