In [3]:
import pandas as pd

In [5]:
As = pd.read_csv('/data/doodle/idconverter/deseqas.csv')

In [6]:
As['gene']

0       Os01g0106400
1       Os01g0110050
2       Os01g0110100
3       Os01g0113500
4       Os01g0114100
            ...
1179    Os12g0622850
1180    Os12g0624300
1181    Os12g0626500
1182    Os12g0639400
1183    Os12g0639500
Name: gene, Length: 1184, dtype: object

In [13]:
ID = pd.read_csv('/data/doodle/idconverter/RAP-MSU_2023-03-15.txt', sep = '\t', header=None)

In [14]:
ID

                  0                                  1
0      Os01g0100100  LOC_Os01g01010.1,LOC_Os01g01010.2
1      Os01g0100200                   LOC_Os01g01019.1
2      Os01g0100300                               None
3      Os01g0100400                   LOC_Os01g01030.1
4      Os01g0100466                               None
...             ...                                ...
68927          None                   LOC_Os12g43960.1
68928          None                   LOC_Os12g44120.1
68929          None                   LOC_Os12g44200.1
68930          None                   LOC_Os12g44260.1
68931          None                   LOC_Os12g44350.1

[68932 rows x 2 columns]

In [22]:
c = 'RAP','MSU'

In [23]:
c

('RAP', 'MSU')

In [24]:
ID.columns = c

In [25]:
ID.head()

            RAP                                MSU
0  Os01g0100100  LOC_Os01g01010.1,LOC_Os01g01010.2
1  Os01g0100200                   LOC_Os01g01019.1
2  Os01g0100300                               None
3  Os01g0100400                   LOC_Os01g01030.1
4  Os01g0100466                               None

In [26]:
ID=ID.set_index(keys= 'RAP')

In [27]:
ID.head()

                                            MSU
RAP
Os01g0100100  LOC_Os01g01010.1,LOC_Os01g01010.2
Os01g0100200                   LOC_Os01g01019.1
Os01g0100300                               None
Os01g0100400                   LOC_Os01g01030.1
Os01g0100466                               None

In [31]:
dic = {}
for i in As['gene']:
     RAP = i
     MSU = ID.at[i,'MSU'].split(',')[0].split('.')[0]
     dic[RAP] = MSU

In [39]:
test=pd.DataFrame(dic, index = [0]).T

In [40]:
test.head()

                           0
Os01g0106400  LOC_Os01g01660
Os01g0110050            None
Os01g0110100  LOC_Os01g02000
Os01g0113500            None
Os01g0114100  LOC_Os01g02390